.loader {
  text-align: center;
}
.preloader {
  width: 50px;
  margin: 0 auto 0 auto;
}
.footer {
  margin-top: 10px;
  height: 40px;
  background-color: #f8f9fa;
}
.editor-command {
  height: 40px;
  background-color: #f8f9fa;
  margin: 2px;
  padding-left: 22px;
  padding-top: 6px;
}
.editor-command:hover {
  cursor: pointer;
  background-color: #fff;
}
#editor-content {
  padding-top: 8px;
}
.books-cpanel {
  text-align: right;
}

#main-basket {
  position: absolute;
  top: 0;
  right: 0;
  border: 1px solid blue;
  border-radius: 5px;
  width: 80px;
  height: 40px;
  text-align: center;
}
.hover {
  background-color: #007bff;
 }
